header {
  width: 100%;

  .header-wrapper {
    width: 100%;
    max-width: 1400px;
    padding-inline: 20px;
    margin: auto;

    .top-header {

      .header-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .top-header__column {
          width: 30%;
        }
      }
    }
  }
}
