@use "../abstracts/variables/variables" as *;

body {
  background-color: $main-bg-color;
}

main {
  width: 100%;
  flex: 1;

  .page-wrapper {
    width: 100%;
    max-width: 1400px;
    padding-inline: 20px;
    margin: auto;

    .main-content-wrapper {
      display: flex;
      flex-wrap: wrap;

      .main-content {
        width: 100%;

        .page-content {
          margin: 0;
        }
      }
    }
  }
}

