{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
{% extends "page.html.twig" %}

{% block main %}
  <main>
    <div class="page-wrapper maintenance">
      <div class="wrapper main-content-wrapper">
        <div class="wrapper main-content">
          <div class="page-content maintenance-content">
            <div class="maintenance-image">
              <img src="{{ base_path ~ directory }}/images/maintenance/maintenance.svg" alt="Maintenance image">
            </div>
            <div class="maintenance-message">
              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

