@use "../abstracts/variables/variables" as *;

footer {
  width: 100%;

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    padding-inline: 20px;
    margin: auto;

    .footer__top {
      width: 100%;

      .footer-columns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .footer__column {
          width: 30%;
        }
      }
    }

    .footer__lower {
      width: 100%;
      .footer-columns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .footer__column {
          width: 30%;
          display: flex;
          align-items: center;

          &:nth-child(1) {
            justify-content: flex-start;
          }

          &:nth-child(2) {
            justify-content: center;
          }

          &:nth-child(3) {
            justify-content: flex-end;
          }

          .region-second-column-lower-footer {
            height: fit-content;
            align-items: center;

            .block-block-content {
              .field--name-body {
                p {
                  margin: 0;

                  a {
                    font-size: $font-size-lg;
                    text-transform: uppercase;
                    font-weight: $bold;
                  }
                }
              }
            }
          }

          .region-third-column-lower-footer {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
