@use "../abstracts/variables/variables" as *;

header {
  width: 100%;

  .header-wrapper {
    width: 100%;
    max-width: 1400px;
    padding-inline: 20px;
    margin: auto;

    .top-header {
      padding-block: 15px;

      .header-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .top-header__column {
          width: 30%;
        }
      }

      .region-top-right-header {
        display: flex;
        justify-content: flex-end;

        .menu--account {
          ul.navbar-nav {
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            li.nav-item {
              a.nav-link {
                font-size: 32px;
              }
            }
          }
        }
      }
    }

    .bottom-header {
      padding-block: 20px;

      .navbar-nav {
        li {
          padding-inline: 15px;

          a.nav-link {
            font-size: $font-size-lg;
            font-weight: $bold;
          }

          a.nav-link.is-active {
            color: $main-accent-color;
          }
        }
      }
    }
  }
}
